###TO DO 1

In [ ]:
import pandas as pd

file_path = '/content/housing.csv'

df = pd.read_csv(file_path)

print("Sample data:")

print(df.head())

print("\n")

Sample data:
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY

In [ ]:
#To display information of all columns
print(df.info)

<bound method DataFrame.info of        longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
2        -122.24     37.85                52.0       1467.0           190.0
3        -122.25     37.85                52.0       1274.0           235.0
4        -122.25     37.85                52.0       1627.0           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                25.0       1665.0           374.0
20636    -121.21     39.49                18.0        697.0           150.0
20637    -121.22     39.43                17.0       2254.0           485.0
20638    -121.32     39.43                18.0       1860.0           409.0
20639    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income  median_house_value  \
0           322.0       126.0         8.3252            452600.0
1          2401.0      1138.0         8.3014            358500.0
2           496.0       177.0         7.2574            352100.0
3           558.0       219.0         5.6431            341300.0
4           565.0       259.0         3.8462            342200.0
...           ...         ...            ...                 ...
20635       845.0       330.0         1.5603             78100.0
20636       356.0       114.0         2.5568             77100.0
20637      1007.0       433.0         1.7000             92300.0
20638       741.0       349.0         1.8672             84700.0
20639      1387.0       530.0         2.3886             89400.0

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
...               ...
20635          INLAND
20636          INLAND
20637          INLAND
20638          INLAND
20639          INLAND

[20640 rows x 10 columns]>

In [ ]:
#To display statistical information of all numerical
print(df.describe())

          longitude      latitude  housing_median_age   total_rooms  \
count  20640.000000  20640.000000        20640.000000  20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081
std        2.003532      2.135952           12.585558   2181.615252
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.800000     33.930000           18.000000   1447.750000
50%     -118.490000     34.260000           29.000000   2127.000000
75%     -118.010000     37.710000           37.000000   3148.000000
max     -114.310000     41.950000           52.000000  39320.000000

       total_bedrooms    population    households  median_income  \
count    20433.000000  20640.000000  20640.000000   20640.000000
mean       537.870553   1425.476744    499.539680       3.870671
std        421.385070   1132.462122    382.329753       1.899822
min          1.000000      3.000000      1.000000       0.499900
25%        296.000000    787.000000    280.000000       2.563400
50%        435.000000   1166.000000    409.000000       3.534800
75%        647.000000   1725.000000    605.000000       4.743250
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000

In [ ]:
#To display the count of unique labels for “Ocean Proximity” column
print(df['ocean_proximity'].value_counts())

ocean_proximity
<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: count, dtype: int64

In [ ]:
#To display which attributes (columns) in a dataset have missing values count greater than zero
print(df.isnull().sum())

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

###TO DO 2

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from scipy import stats

In [ ]:
def createdata():
  data = {
      'Age': np.random.randint(18, 70, size=20),
      'Salary': np.random.randint(30000, 120000, size=20),
      'Purchased': np.random.choice([0, 1], size=20),
      'Gender': np.random.choice(['Male', 'Female'], size=20),
      'City': np.random.choice(['New York', 'San Francisco', 'Los Angeles'], size=20)
  }

  df = pd.DataFrame(data)
  return df

In [ ]:
df = createdata()
df.head(10)

   Age  Salary  Purchased  Gender           City
0   67   95582          0  Female    Los Angeles
1   58   75108          1  Female  San Francisco
2   64   94631          1    Male       New York
3   42   71454          0  Female       New York
4   44  108391          1    Male  San Francisco
5   20  106194          1    Male       New York
6   37   82085          0    Male       New York
7   27  110483          1  Female       New York
8   42   57678          1  Female  San Francisco
9   63   59239          0  Female  San Francisco

In [ ]:
df.shape

(20, 5)

In [ ]:
# Introduce some missing values for demonstration
df.loc[5, 'Age'] = np.nan
df.loc[10, 'Salary'] = np.nan
df.head(10)

    Age    Salary  Purchased  Gender           City
0  67.0   95582.0          0  Female    Los Angeles
1  58.0   75108.0          1  Female  San Francisco
2  64.0   94631.0          1    Male       New York
3  42.0   71454.0          0  Female       New York
4  44.0  108391.0          1    Male  San Francisco
5   NaN  106194.0          1    Male       New York
6  37.0   82085.0          0    Male       New York
7  27.0  110483.0          1  Female       New York
8  42.0   57678.0          1  Female  San Francisco
9  63.0   59239.0          0  Female  San Francisco

In [ ]:
# Basic information about the dataset
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Age        19 non-null     float64
 1   Salary     19 non-null     float64
 2   Purchased  20 non-null     int64
 3   Gender     20 non-null     object
 4   City       20 non-null     object
dtypes: float64(2), int64(1), object(2)
memory usage: 932.0+ bytes
None

In [ ]:
# Summary statistics
print(df.describe())

             Age         Salary  Purchased
count  19.000000      19.000000  20.000000
mean   45.947368   78821.315789   0.550000
std    15.356771   24850.883175   0.510418
min    19.000000   37052.000000   0.000000
25%    33.500000   58458.500000   0.000000
50%    42.000000   77139.000000   1.000000
75%    60.500000  101866.000000   1.000000
max    68.000000  112223.000000   1.000000

In [ ]:
#Code to Find Missing Values
# Check for missing values in each column
missing_values = df.isnull().sum()

# Display columns with missing values
print(missing_values[missing_values > 0])

Age       1
Salary    1
dtype: int64

In [ ]:
#Set the values to some value (zero, the mean, the median, etc.).
# Step 1: Create an instance of SimpleImputer with the median strategy for Age and mean stratergy for Salary
imputer1 = SimpleImputer(strategy="median")
imputer2 = SimpleImputer(strategy="mean")

df_copy=df

# Step 2: Fit the imputer on the "Age" and "Salary"column
# Note: SimpleImputer expects a 2D array, so we reshape the column
imputer1.fit(df_copy[["Age"]])
imputer2.fit(df_copy[["Salary"]])

# Step 3: Transform (fill) the missing values in the "Age" and "Salary"c column
df_copy["Age"] = imputer1.transform(df[["Age"]])
df_copy["Salary"] = imputer2.transform(df[["Salary"]])

# Verify that there are no missing values left
print(df_copy["Age"].isnull().sum())
print(df_copy["Salary"].isnull().sum())

0
0

In [ ]:
#Handling Categorical Attributes
#Using Ordinal Encoding for gender COlumn and One-Hot Encoding for City Column

# Initialize OrdinalEncoder
ordinal_encoder = OrdinalEncoder(categories=[["Male", "Female"]])
# Fit and transform the data
df_copy["Gender_Encoded"] = ordinal_encoder.fit_transform(df_copy[["Gender"]])

# Initialize OneHotEncoder
onehot_encoder = OneHotEncoder()

# Fit and transform the "City" column
encoded_data = onehot_encoder.fit_transform(df[["City"]])

# Convert the sparse matrix to a dense array
encoded_array = encoded_data.toarray()

# Convert to DataFrame for better visualization
encoded_df = pd.DataFrame(encoded_array, columns=onehot_encoder.get_feature_names_out(["City"]))
df_encoded = pd.concat([df_copy, encoded_df], axis=1)

df_encoded.drop("Gender", axis=1, inplace=True)
df_encoded.drop("City", axis=1, inplace=True)

print(df_encoded. head())

    Age    Salary  Purchased  Gender_Encoded  City_Los Angeles  City_New York  \
0  67.0   95582.0          0             1.0               1.0            0.0
1  58.0   75108.0          1             1.0               0.0            0.0
2  64.0   94631.0          1             0.0               0.0            1.0
3  42.0   71454.0          0             1.0               0.0            1.0
4  44.0  108391.0          1             0.0               0.0            0.0

   City_San Francisco
0                 0.0
1                 1.0
2                 0.0
3                 0.0
4                 1.0

In [ ]:
#Data Transformation
# Min-Max Scaler/Normalization (range 0-1)
#Pros: Keeps all data between 0 and 1; ideal for distance-based models.
#Cons: Can distort data distribution, especially with extreme outliers.
normalizer = MinMaxScaler()
df_encoded[['Salary']] = normalizer.fit_transform(df_encoded[['Salary']])
df_encoded.head()

,Age,Salary,Purchased,Gender_Encoded,City_Los Angeles,City_New York,City_San Francisco
0,67.0,0.778625,0,1.0,1.0,0.0,0.0
1,58.0,0.506259,1,1.0,0.0,0.0,1.0
2,64.0,0.765974,1,0.0,0.0,1.0,0.0
3,42.0,0.457650,0,1.0,0.0,1.0,0.0
4,44.0,0.949023,1,0.0,0.0,0.0,1.0

In [ ]:
# Standardization (mean=0, variance=1)
#Pros: Works well for normally distributed data; suitable for many models.
#Cons: Sensitive to outliers.
scaler = StandardScaler()
df_encoded[['Age']] = scaler.fit_transform(df_encoded[['Age']])
df_encoded.head()

,Age,Salary,Purchased,Gender_Encoded,City_Los Angeles,City_New York,City_San Francisco
0,1.456069,0.778625,0,1.0,1.0,0.0,0.0
1,0.839381,0.506259,1,1.0,0.0,0.0,1.0
2,1.250506,0.765974,1,0.0,0.0,1.0,0.0
3,-0.256953,0.457650,0,1.0,0.0,1.0,0.0
4,-0.119912,0.949023,1,0.0,0.0,0.0,1.0

In [ ]:
#Removing Outliers
# Outlier Detection and Treatment using IQR
#Pros: Simple and effective for mild outliers.
#Cons: May overly reduce variation if there are many extreme outliers.
df_encoded_copy1=df_encoded
df_encoded_copy2=df_encoded
df_encoded_copy3=df_encoded

Q1 = df_encoded_copy1['Salary'].quantile(0.25)
Q3 = df_encoded_copy1['Salary'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
df_encoded_copy1['Salary'] = np.where(df_encoded_copy1['Salary'] > upper_bound, upper_bound,
                        np.where(df_encoded_copy1['Salary'] < lower_bound, lower_bound, df_encoded_copy1['Salary']))

print(df_encoded_copy1.head())

        Age    Salary  Purchased  Gender_Encoded  City_Los Angeles  \
0  1.456069  0.778625          0             1.0               1.0
1  0.839381  0.506259          1             1.0               0.0
2  1.250506  0.765974          1             0.0               0.0
3 -0.256953  0.457650          0             1.0               0.0
4 -0.119912  0.949023          1             0.0               0.0

   City_New York  City_San Francisco
0            0.0                 0.0
1            0.0                 1.0
2            1.0                 0.0
3            1.0                 0.0
4            0.0                 1.0

In [ ]:
#Removing Outliers
# Z-score method
#Pros: Good for normally distributed data.
#Cons: Not suitable for non-normal data; may miss outliers in skewed distributions.

df_encoded_copy2['Salary_zscore'] = stats.zscore(df_encoded_copy2['Salary'])
df_encoded_copy2['Salary'] = np.where(df_encoded_copy2['Salary_zscore'].abs() > 3, np.nan, df_encoded_copy2['Salary'])  # Replace outliers with NaN
print(df_encoded_copy2.head())

        Age    Salary  Purchased  Gender_Encoded  City_Los Angeles  \
0  1.456069  0.778625          0             1.0               1.0
1  0.839381  0.506259          1             1.0               0.0
2  1.250506  0.765974          1             0.0               0.0
3 -0.256953  0.457650          0             1.0               0.0
4 -0.119912  0.949023          1             0.0               0.0

   City_New York  City_San Francisco  Salary_zscore
0            0.0                 0.0       0.710933
1            0.0                 1.0      -0.157507
2            1.0                 0.0       0.670595
3            1.0                 0.0      -0.312497
4            0.0                 1.0       1.254249

In [ ]:
#Removing Outliers
# Median replacement for outliers
#Pros: Keeps distribution shape intact, useful when capping isn’t feasible.
#Cons: May distort data if outliers represent real phenomena.
df_encoded_copy3['Salary_zscore'] = stats.zscore(df_encoded_copy3['Salary'])
median_salary = df_encoded_copy3['Salary'].median()
df_encoded_copy3['Salary'] = np.where(df_encoded_copy3['Salary_zscore'].abs() > 3, median_salary, df_encoded_copy3['Salary'])
print(df_encoded_copy3.head())

        Age    Salary  Purchased  Gender_Encoded  City_Los Angeles  \
0  1.456069  0.778625          0             1.0               1.0
1  0.839381  0.506259          1             1.0               0.0
2  1.250506  0.765974          1             0.0               0.0
3 -0.256953  0.457650          0             1.0               0.0
4 -0.119912  0.949023          1             0.0               0.0

   City_New York  City_San Francisco  Salary_zscore
0            0.0                 0.0       0.710933
1            0.0                 1.0      -0.157507
2            1.0                 0.0       0.670595
3            1.0                 0.0      -0.312497
4            0.0                 1.0       1.254249

####Diabetes

In [ ]:
import pandas as pd

file_path = '/content/Dataset of Diabetes .csv'

df = pd.read_csv(file_path)

print("Sample data:")

print(df.head())

print("\n")

Sample data:
    ID  No_Pation Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL  \
0  502      17975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
1  735      34221      M   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6
2  420      47975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
3  680      87656      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
4  504      34223      M   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4

    BMI CLASS
0  24.0     N
1  23.0     N
2  24.0     N
3  24.0     N
4  21.0     N

In [ ]:
#1. Which columns in the dataset had missing values? How did you handle them ?
print(df.isnull().sum())

ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64

In [ ]:
#2. Which categorical columns did you identify in the dataset? How did you encode them ?
print(df.info)

<bound method DataFrame.info of       ID  No_Pation Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL  \
0    502      17975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
1    735      34221      M   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6
2    420      47975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
3    680      87656      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
4    504      34223      M   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4
..   ...        ...    ...  ...   ...  ..    ...   ...  ...  ...  ...   ...
995  200     454317      M   71  11.0  97    7.0   7.5  1.7  1.2  1.8   0.6
996  671     876534      M   31   3.0  60   12.3   4.1  2.2  0.7  2.4  15.4
997  669      87654      M   30   7.1  81    6.7   4.1  1.1  1.2  2.4   8.1
998   99      24004      M   38   5.8  59    6.7   5.3  2.0  1.6  2.9  14.0
999  248      24054      M   54   5.0  67    6.9   3.8  1.7  1.1  3.0   0.7

      BMI CLASS
0    24.0     N
1    23.0     N
2    24.0     N
3    24.0     N
4    21.0     N
..    ...   ...
995  30.0     Y
996  37.2    Y
997  27.4    Y
998  40.5    Y
999  33.0    Y

[1000 rows x 14 columns]>

In [ ]:
# Clean the Gender column: Convert all values to uppercase
df["Gender"] = df["Gender"].str.upper()

# Initialize OrdinalEncoder for Gender
ordinal_encoder = OrdinalEncoder(categories=[["F", "M"]], handle_unknown="use_encoded_value", unknown_value=-1)
# Fit and transform the Gender column
df["Gender_Encoded"] = ordinal_encoder.fit_transform(df[["Gender"]])

# Initialize OneHotEncoder for CLASS
onehot_encoder = OneHotEncoder()
# Fit and transform the CLASS column
encoded_data = onehot_encoder.fit_transform(df[["CLASS"]])

# Convert the sparse matrix to a dense array
encoded_array = encoded_data.toarray()

# Convert to DataFrame for better visualization
encoded_df = pd.DataFrame(encoded_array, columns=onehot_encoder.get_feature_names_out(["CLASS"]))
df_encoded = pd.concat([df, encoded_df], axis=1)

# Drop the original Gender and CLASS columns
df_encoded.drop("Gender", axis=1, inplace=True)
df_encoded.drop("CLASS", axis=1, inplace=True)

print(df_encoded.head())

    ID  No_Pation  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI  \
0  502      17975   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0
1  735      34221   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6  23.0
2  420      47975   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0
3  680      87656   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0
4  504      34223   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4  21.0

   Gender_Encoded  CLASS_N  CLASS_N   CLASS_P  CLASS_Y  CLASS_Y
0             0.0      1.0       0.0      0.0      0.0       0.0
1             1.0      1.0       0.0      0.0      0.0       0.0
2             0.0      1.0       0.0      0.0      0.0       0.0
3             0.0      1.0       0.0      0.0      0.0       0.0
4             1.0      1.0       0.0      0.0      0.0       0.0

###ADULT INCOME DATA

In [ ]:
import pandas as pd

file_path = '/content/adult.csv'

df = pd.read_csv(file_path)

print("Sample data:")

print(df.head())

print("\n")

Sample data:
   age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18          ?  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                  ?    Own-child  White  Female             0             0

   hours-per-week native-country income
0              40  United-States  <=50K
1              50  United-States  <=50K
2              40  United-States   >50K
3              40  United-States   >50K
4              30  United-States  <=50K

In [ ]:
print(df.isnull().sum())

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [ ]:
print(df.info)

<bound method DataFrame.info of        age     workclass  fnlwgt     education  educational-num  \
0       25       Private  226802          11th                7
1       38       Private   89814       HS-grad                9
2       28     Local-gov  336951    Assoc-acdm               12
3       44       Private  160323  Some-college               10
4       18             ?  103497  Some-college               10
...    ...           ...     ...           ...              ...
48837   27       Private  257302    Assoc-acdm               12
48838   40       Private  154374       HS-grad                9
48839   58       Private  151910       HS-grad                9
48840   22       Private  201490       HS-grad                9
48841   52  Self-emp-inc  287927       HS-grad                9

           marital-status         occupation relationship   race  gender  \
0           Never-married  Machine-op-inspct    Own-child  Black    Male
1      Married-civ-spouse    Farming-fishing      Husband  White    Male
2      Married-civ-spouse    Protective-serv      Husband  White    Male
3      Married-civ-spouse  Machine-op-inspct      Husband  Black    Male
4           Never-married                  ?    Own-child  White  Female
...                   ...                ...          ...    ...     ...
48837  Married-civ-spouse       Tech-support         Wife  White  Female
48838  Married-civ-spouse  Machine-op-inspct      Husband  White    Male
48839             Widowed       Adm-clerical    Unmarried  White  Female
48840       Never-married       Adm-clerical    Own-child  White    Male
48841  Married-civ-spouse    Exec-managerial         Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country income
0                 0             0              40  United-States  <=50K
1                 0             0              50  United-States  <=50K
2                 0             0              40  United-States   >50K
3              7688             0              40  United-States   >50K
4                 0             0              30  United-States  <=50K
...             ...           ...             ...            ...    ...
48837             0             0              38  United-States  <=50K
48838             0             0              40  United-States   >50K
48839             0             0              40  United-States  <=50K
48840             0             0              20  United-States  <=50K
48841         15024             0              40  United-States   >50K

[48842 rows x 15 columns]>

In [ ]:
# Encode binary categorical columns (e.g., gender) using OrdinalEncoder
binary_columns = ['gender']
# Initialize OrdinalEncoder for binary columns
ordinal_encoder = OrdinalEncoder(categories=[["Female", "Male"]], handle_unknown="use_encoded_value", unknown_value=-1)
df[binary_columns] = ordinal_encoder.fit_transform(df[binary_columns])

# Encode multi-category columns using OneHotEncoder
multi_category_columns = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'native-country']
onehot_encoder = OneHotEncoder(sparse_output=False, drop='first')  # Drop first column to avoid multicollinearity
encoded_data = onehot_encoder.fit_transform(df[multi_category_columns])

# Convert encoded data to DataFrame
encoded_df = pd.DataFrame(encoded_data, columns=onehot_encoder.get_feature_names_out(multi_category_columns))

# Concatenate encoded data with the original DataFrame
df_encoded = pd.concat([df.drop(multi_category_columns, axis=1), encoded_df], axis=1)

# Display the encoded DataFrame
print("\nEncoded DataFrame:")
print(df_encoded.head())

Encoded DataFrame:
   age  fnlwgt  educational-num  gender  capital-gain  capital-loss  \
0   25  226802                7     1.0             0             0
1   38   89814                9     1.0             0             0
2   28  336951               12     1.0             0             0
3   44  160323               10     1.0          7688             0
4   18  103497               10     0.0             0             0

   hours-per-week income  workclass_Federal-gov  workclass_Local-gov  ...  \
0              40  <=50K                    0.0                  0.0  ...
1              50  <=50K                    0.0                  0.0  ...
2              40   >50K                    0.0                  1.0  ...
3              40   >50K                    0.0                  0.0  ...
4              30  <=50K                    0.0                  0.0  ...

   native-country_Portugal  native-country_Puerto-Rico  \
0                      0.0                         0.0
1                      0.0                         0.0
2                      0.0                         0.0
3                      0.0                         0.0
4                      0.0                         0.0

   native-country_Scotland  native-country_South  native-country_Taiwan  \
0                      0.0                   0.0                    0.0
1                      0.0                   0.0                    0.0
2                      0.0                   0.0                    0.0
3                      0.0                   0.0                    0.0
4                      0.0                   0.0                    0.0

   native-country_Thailand  native-country_Trinadad&Tobago  \
0                      0.0                             0.0
1                      0.0                             0.0
2                      0.0                             0.0
3                      0.0                             0.0
4                      0.0                             0.0

   native-country_United-States  native-country_Vietnam  \
0                           1.0                     0.0
1                           1.0                     0.0
2                           1.0                     0.0
3                           1.0                     0.0
4                           1.0                     0.0

   native-country_Yugoslavia
0                        0.0
1                        0.0
2                        0.0
3                        0.0
4                        0.0

[5 rows x 101 columns]